<h1>Listing world_measurements</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Downloadthroughputsplitbyclientandbyserver</th>
    <th>Uploadthroughputsplitbyclientandbyserver</th>
    <th>Rttsplitbyclientandbyserver</th>
    <th>Netlimitedsplitbyclientandbyserver</th>
    <th>Clientlimitedsplitbyclientandbyserver</th>
    <th>Winscalercvdsplitbyclientandbyserver</th>
    <th>Numberofclientssplitbyclientandbyserver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @world_measurements.each do |world_measurement| %>
  <tr>
    <td><%= world_measurement.month %></td>
    <td><%= world_measurement.DownloadThroughputSplitByClientAndByServer %></td>
    <td><%= world_measurement.UploadThroughputSplitByClientAndByServer %></td>
    <td><%= world_measurement.RTTSplitByClientAndByServer %></td>
    <td><%= world_measurement.NetLimitedSplitByClientAndByServer %></td>
    <td><%= world_measurement.ClientLimitedSplitByClientAndByServer %></td>
    <td><%= world_measurement.WinScaleRcvdSplitByClientAndByServer %></td>
    <td><%= world_measurement.NumberOfClientsSplitByClientAndByServer %></td>
    <td><%= link_to 'Show', world_measurement %></td>
    <td><%= link_to 'Edit', edit_world_measurement_path(world_measurement) %></td>
    <td><%= link_to 'Destroy', world_measurement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New World measurement', new_world_measurement_path %>
