<%= form_for(@country_map) do |f| %>
  <% if @country_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country_map.errors.count, "error") %> prohibited this country_map from being saved:</h2>

      <ul>
      <% @country_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.number_field :country %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longtitude %><br />
    <%= f.text_field :longtitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
