<h1>Listing city_measurements</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Downloadthroughputsplitbyclientandbyserver</th>
    <th>Uploadthroughputsplitbyclientandbyserver</th>
    <th>Rttsplitbyclientandbyserver</th>
    <th>Netlimitedsplitbyclientandbyserver</th>
    <th>Clientlimitedsplitbyclientandbyserver</th>
    <th>Winscalercvdsplitbyclientandbyserver</th>
    <th>Numberofclientssplitbyclientandbyserver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city_measurements.each do |city_measurement| %>
  <tr>
    <td><%= city_measurement.month %></td>
    <td><%= city_measurement.DownloadThroughputSplitByClientAndByServer %></td>
    <td><%= city_measurement.UploadThroughputSplitByClientAndByServer %></td>
    <td><%= city_measurement.RTTSplitByClientAndByServer %></td>
    <td><%= city_measurement.NetLimitedSplitByClientAndByServer %></td>
    <td><%= city_measurement.ClientLimitedSplitByClientAndByServer %></td>
    <td><%= city_measurement.WinScaleRcvdSplitByClientAndByServer %></td>
    <td><%= city_measurement.NumberOfClientsSplitByClientAndByServer %></td>
    <td><%= link_to 'Show', city_measurement %></td>
    <td><%= link_to 'Edit', edit_city_measurement_path(city_measurement) %></td>
    <td><%= link_to 'Destroy', city_measurement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City measurement', new_city_measurement_path %>
