<%= form_for(@city_map) do |f| %>
  <% if @city_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_map.errors.count, "error") %> prohibited this city_map from being saved:</h2>

      <ul>
      <% @city_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longtitude %><br />
    <%= f.text_field :longtitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
